@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    font-size:20px;
}
html{
    background-color: black;
}
#title{
    margin-bottom:9%;
}
#title li{
    color: rgb(0, 255, 0);
    list-style-type: none;
}
#main-container img{
    display: block;
    margin-left: auto; margin-right: auto;
}
input{
    background-color:black;
    color:rgb(0,255,0);
    border:none;
    margin-bottom:25px;
    position: absolute;
    top:70px;
}
img{
    margin-top:auto;
    float:right;
    visibility: hidden;
}
li{
    margin-bottom:5px;
    animation:typing 1s steps(40,end);
}
#htmlsearchresults{
    display:inline-block;
    top:100px;
    position: absolute;
}
#number_of_results{
    background-color:black;
    color:rgb(0,255,0);
    border:none;
    margin-bottom:25px;
    position: absolute;
    top:70px;
    left:240px;
}
#title_ul{
    display: inline-block;
}
#title{
    display: inline-block;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
#coverart_frame{
    bottom:500px;
}