@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    font-size:20px;
}
html{
    background-color: black;
}
#title{
    margin-bottom:9%;
}
#title li{
    color: rgb(0, 255, 0);
    list-style-type: none;
}
img{
    margin-top:auto;
    float:right;
}
li{
    margin-bottom:5px;
}
#htmlsearchresults{
    margin-top: 25px;
    display:inline-block;
    top:100px;
    position: absolute;
}
.responseBox{
    background-color:black;
    color:rgb(0,255,0);
    border:none;
    margin-bottom:25px;
    position: static;
    outline: none;
    margin-right:10px;
}
#title_ul{
    display: inline-block;
}
#title{
    display: inline-block;
}
.pauseBtn{
    cursor: pointer;
    font-size: 30px;
    color:rgb(0, 255, 0);
    position: absolute;
    left:93vw;
    top:26vh;
}
.red{
    display: inline;
    color:red;
}